<!DOCTYPE html>
<html lang="kr">
{{>layout/header}}
    <link href="/css/article/show.css" rel="stylesheet">
<body>
<div class="background">
    {{>layout/navbar}}
    <div class="container" id="main">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="panel panel-default">
                <header class="post-header">
                    <p class="post-title">{{article.title}}</p>
                </header>
                <div class="content-main">
                    <article class="article">
                        <div class="article-header">
                            <div class="article-header-text">
                                <p class="article-content">{{article.writerNickname}}</p>
                                <p class="article-content">
                                    작성일자: {{article.formattedPublishTime}}
                                </p>
                                <p class="article-content">조회 4</p>
                            </div>
                        </div>
                        <div class="article-doc">
                            <p>{{article.content}}</p>
                        </div>
                    </article>

                    <div class="post-comment">
                        <div class="post-comment-slipp">
                            <p class="post-comment-count">댓글 총: {{commentsAmount}}개</p>
                            <div class="post-comment-slipp-articles">

                                {{#comments}}
                                <article class="comment" id="comment-{{sequence}}">
                                    <div class="article-text">
                                        <p class="comment-content comment-author-name">{{writer}}</p>
                                        <div class="comment-content comment-doc">
                                            <p>{{content}}</p>
                                        </div>
                                        <p class="comment-content comment-time">
                                            {{formattedWrittenTime}}
                                        </p>
                                    </div>
                                </article>
                                {{/comments}}
                                {{>layout/comment_form}}
                            </div>
                        </div>
                    </div>
                    {{#isAuthor}}
                    <ul style="display: flex; list-style: none; float: right; padding: 0">
                        <li style="margin-right: 10px; margin-top: 10px">
                            <div class="post-btn-container">
                                <button class="active black-component"
                                        onclick="requestDelete('{{article.sequence}}')">삭제하기</button>
                            </div>
                        </li>
                        <li style="margin-right: 10px; margin-top: 10px">
                            <div class="post-btn-container">
                                <button class="active black-component"
                                        onclick="location.href ='/articles/update/{{article.sequence}}'">수정하기</button>
                            </div>
                        </li>
                    </ul>
                    {{/isAuthor}}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function requestDelete(sequence) {
        let httpRequest = new XMLHttpRequest();
        httpRequest.open('DELETE', '/articles/update/'+ sequence, true);
        httpRequest.onreadystatechange = function () {
            if (this.readyState === 4) {
                if (this.status === 200) {
                    alert("게시물이 성공적으로 삭제되었습니다")
                    window.location.href = httpRequest.responseText;
                } else {
                    alert("삭제가 실패했습니다")
                }
            }
        }
        httpRequest.send();
    }

    window.onpageshow = function (event) {
        if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
            alert("삭제된 게시물입니다")
            window.location.href = "/";
        }
    }
</script>
</html>
